/* xs | small phone*/
@media (min-width: 475px) {
}

/* sm | phone */
@media (min-width: 640px) {
  #section2 {
    .section2_wraper {
      .section2_inner {
        display: flex;
        flex-wrap: wrap;
        // border-right: solid 1px px rgba(255, 255, 255, 0.2);
        .boxs {
          width: 50%;
          .section2_item1 {
            h3 {
              font-size: var(--size-md);
            }
          }
          .section2_item2 {
            h2 {
              font-size: var(--size-md);
            }
            span {
              font-size: var(--size-sm);
            }
          }
        }
      }
    }
  }
}

/* md | tab /ipad*/
@media (min-width: 768px) {
  // HEADER SECTION
  #section3 {
    .section3-innr {
      .section3_top {
        .section3_descripction {
          flex-direction: row;
          .team-left {
            width: 50%;
            h3 {
              font-size: var(--size-md);
            }
            span {
              font-size: var(--size-4xl);
            }
          }
          .team-right {
            width: 50%;
            p {
              font-size: var(--size-md);
            }
            h2 {
              font-size: var(--size-md);
            }
          }
        }
        .section3_user {
          .team-user-box {
            width: 50%;
            h1 {
              font-size: var(--size-md);
            }
            h3 {
              font-size: var(--size-md);
            }
          }
        }
      }
    }
    .section3_bottom {
      flex-direction: row;
      position: relative;
      .section3_bottom-info {
        h3 {
          font-size: var(--size-sm);
        }
        h1 {
          font-size: var(--size-2xl);
        }
        a {
          font-size: var(--size-xs);
        }
      }
      .slider-2 {
        display: flex;
        flex-wrap: wrap;
        .boxs {
          width: 50%;
          i {
            font-size: var(--size-3xl);
          }
          p {
            font-size: var(--size-md);
          }
          .slider2_user {
            .slider2_user-info {
              h2 {
                font-size: var(--size-sm);
              }
              h3 {
                font-size: var(--size-md);
              }
            }
          }
        }
      }
    }
  }
  footer {
    .footer-inner {
      .footer_top {
        flex-direction: row;
      }
    }
    .footer_bottom {
      .footer_bottom-inner {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

/* lg */
@media (min-width: 1024px) {
  #header {
    .header_inner {
      .main_header {
        .top_header {
          h1 {
            font-size: var(--size-3xl);
          }
          nav {
            background-color: transparent;
            display: flex;
            position: static;
            width: inherit;
            flex-direction: row;
            visibility: visible;
            opacity: 1;
            padding-top: 0rem;
            padding-bottom: 0rem;
            .navigation {
              display: flex;
              flex-direction: row;
              li {
                margin-right: 2rem;
                position: relative;
                .dropdown_menu {
                  min-width: 200px;
                  position: absolute;
                  left: 0px;
                  top: 100%;
                }
              }
            }
            .social_area {
              margin-top: 0rem;
              ul {
                li {
                  padding: 0.5rem;
                  a {
                    font-size: var(--size-md);
                  }
                }
              }
            }
          }
          .header_bars {
            display: none;
          }
        }
        .hero_area {
          flex-direction: row;
          padding-top: 9rem;
          padding-bottom: 9rem;
          .hero_area-left {
            width: 50%;
            gap: 2rem;
            h3 {
              font-size: var(--size-sm);
            }
            h1 {
              font-size: var(--size-6xl);
            }
          }
          .hero_area-right {
            width: 50%;
            display: flex;
            justify-content: end;
            text-align: right;
            .hero-dots {
              left: 15%;
            }
            p {
              max-width: 400px;
              font-size: var(--size-lg);
            }
            .hero_area-arow {
              margin-top: 4rem;
            }
          }
        }
      }
      .bottom_header {
        display: flex;
        flex-direction: column;
        align-items: center;
        .bottom_header-img {
          width: 75%;
          height: 550px;
          img {
            object-position: top 10%;
          }
        }
        .bottom_header-slider {
          display: flex;
          a {
            img {
              width: 200px;
            }
          }
        }
      }
    }
  }
  #section1 {
    .section1_wraper {
      display: flex;
      padding-bottom: 5rem;
      .section1_left {
        width: 50%;
        gap: 2rem;
        h3 {
          font-size: var(--size-xl);
          font-weight: 400;
        }
        h1 {
          font-size: var(--size-4xl);
          line-height: 3rem;
        }
        P {
          font-size: var(--size-lg);
        }
      }
      .section1_right {
        width: 50%;
        display: flex;
        justify-content: end;
        position: relative;
        align-items: center;
        .section1_img1 {
          position: absolute;
          top: 6.7rem;
          left: -3rem;
        }
        .section1_img2 {
          display: block;
          width: 75%;
          height: 90%;
        }
      }
    }
  }
  #section2 {
    .section2_wraper {
      .section2_inner {
        display: flex;
        flex-wrap: wrap;
        .boxs {
          width: 25%;
          height: 500px;
          border-right: solid 1px rgba(255, 255, 255, 0.2);
          border-bottom: none;
          .section2_item1 {
            h3 {
              font-size: var(--size-xl);
            }
          }
          .section2_item2 {
            h2 {
              font-size: var(--size-xl);
            }
            span {
              font-size: var(--size-md);
            }
          }
        }
      }
    }
  }
  #section3 {
    .section3-innr {
      .section3_top {
        .section3_descripction {
          flex-direction: row;
          .team-left {
            width: 50%;
            h3 {
              font-size: var(--size-xl);
            }
            span {
              font-size: var(--size-4xl);
            }
          }
          .team-right {
            width: 50%;
            p {
              font-size: var(--size-md);
            }
            h2 {
              font-size: var(--size-xl);
            }
          }
        }
        .section3_user {
          .team-user-box {
            width: 25%;
            h1 {
              font-size: var(--size-xl);
            }
            h3 {
              font-size: var(--size-xl);
            }
          }
        }
      }
    }
    .section3_bottom {
      flex-direction: row;
      position: relative;
      .section3_bottom-info {
        h3 {
          font-size: var(--size-sm);
        }
        h1 {
          font-size: var(--size-2xl);
        }
        a {
          font-size: var(--size-xs);
        }
      }
      .slider-2 {
        display: flex;
        flex-wrap: wrap;
        .boxs {
          width: 25%;
          i {
            font-size: var(--size-3xl);
          }
          p {
            font-size: var(--size-md);
          }
          .slider2_user {
            .slider2_user-info {
              h2 {
                font-size: var(--size-sm);
              }
              h3 {
                font-size: var(--size-md);
              }
            }
          }
        }
      }
    }
  }
  #section4 {
    .section4_inner {
      .section4_top {
        display: flex;
        .section4_top-left {
          width: 50%;
          margin-bottom: 4rem;
          h2 {
            font-size: var(--size-lg);
            font-weight: 600;
          }
          h1 {
            font-size: var(--size-3xl);
            font-weight: 600;
            line-height: 2rem;
          }
        }
        .section4_top-right {
          width: 50%;
          p {
            font-size: var(--size-md);
          }
          a {
            font-size: var(--size-md);
          }
        }
      }
      .section4_mid {
        flex-direction: row;
        .section4_mid-boxs {
          .section4-box-info {
            h5 {
              font-size: var(--size-lg);
            }
          }
        }
      }
      .section4_bottom {
        height: 300px;
        flex-direction: row;
        align-items: center;
        h1 {
          font-size: var(--size-3xl);
        }
        .input_field {
          width: 50%;
        }
      }
    }
  }
}

/* xl */
@media (min-width: 1280px) {
  #header {
    .header_inner {
      .main_header {
        .top_header {
          position: relative;
          nav {
            .navigation {
              margin-right: 15rem;
            }
          }
        }
      }
    }
  }
}

/* 2xl */
@media (min-width: 1536px) {
  #header {
    .main_header {
      .top_header {
        position: relative;
        nav {
          .navigation {
            margin-right: 25rem;
          }
        }
      }
    }
  }
}
