#section2 {
  .section2_wraper {
    position: relative;
    .section2_inner {
      .section2-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        z-index: -55;
      }
      .boxs {
        background: rgba(38, 50, 56, 0.8);
        transition: all 0.5s;
        &:hover {
          background: none;
          transition: all 0.5s;
          transform: translatey(0rem);
        }
        display: flex;
        width: 100%;
        height: 350px;
        padding: 2rem;
        margin-bottom: 0.1rem;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        overflow: hidden;
        &:hover .section2_item2 {
          transition: all 0.5s;
          transform: translatey(0rem);
        }
        .section2_item1 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          img {
            width: 40px;
          }
          h3 {
            color: var(--color-gray-500);
            font-size: var(--size-sm);
            font-weight: 500;
          }
        }
        .section2_item2 {
          transform: translatey(6rem);
          h2 {
            margin-bottom: 2rem;
            text-transform: capitalize;
            color: var(--color-white);
            font-size: var(--size-sm);
            font-weight: 400;
          }
          span {
            text-transform: capitalize;
            color: var(--color-white);
            font-size: var(--size-sm);
            font-weight: 500;
          }
        }
      }
    }
  }
}
