$liner: linear-gradient(
  to right,
  rgb(255, 175, 1) 0%,
  rgba(255, 166, 1, 0.5) 50%,
  rgb(255, 166, 1) 100%
);
//background Color
$Navcolor: #263238;
$Navcolor1: rgba(38, 50, 56, 0.93);
$Pcolor: #dfe1e2;
$sencolor: #d5d7d9;
$thirdcolor: #e99b28;
$fourthcolor: #f4f5f5;

//FontWight
$fontW-xm: 300;
$fontW-sm: 400;
$fontW-md: 500;
$fontW-lg: 600;
$fontW-xl: 700;
$fontW-2xl: 800;
$fontW-3xl: 300;

// breackpoint
$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024x;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;

// button
.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--color-orange);
  color: #f1f5f9;
  padding: 1em 1em;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(1.1);
  background: $liner;
  transition: all 0.5s;
}
.custom-btn {
  position: relative;
  &::after {
    content: '';
    width: 100%;
    border-bottom: 2px solid var(--color-yellow);
    background-color: var(--color-orange);
    position: absolute;
    top: 100%;
    left: 0px;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.yellow-span {
  color: var(--color-yellow);
}
// !important
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section {
  margin-top: 5rem;
}
